body {
    background-color:#FFC55A ;
}

h1 {
    color:#FC4100 ;
}

header {
    padding-top: 40px;
    text-align: center;
    background-color:#FFC55A ;
    border-radius: 40px 0 40px 0;
}

img {
    width: 40%;
    border-radius: 50%;
    border: 10px solid #FC4100;
}
#products {
    width: 95%;
    text-align: center;
    margin: 40px auto;
}
#products h2 {
    color: #ff0000;
}
.cards {
    border: 1px dashed #ff0000;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 350px;
    border: 1px solid #ffffff;
}
.card img {
    border-radius: 0;
    width: 100%;
    border: none;
}
.card h3 {
    color: black;
}
.card a button {
    margin-bottom: 20px;
    background-color: #ff0000;
    padding: 8px 25px;
}